.search{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 2%;
}

input{
  border-radius: 15px;
  padding: 10px 10px;

}

button{
  margin-left: 2%;
  padding: 10px 10px;
  border-radius: 15px;

}

.resultdiv{
  width: 20%;
  /* border: 1px solid red; */
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  margin-left: 38%;
  box-shadow: rgba(37, 37, 180, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
}
.resultpara{
  padding: 10px 10px;
  color: rgb(91, 33, 157);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}